{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}
{% block matchpwd %}
    <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
{% endblock %}


{% block content %}
    <div class="container">

        <form class="well form-horizontal" method="post"  id="contact_form">
            
            
            <div>
                <span class="select2 select2-container select2-container--default alt select2-container--below" dir="ltr" style="width: 293px;"><span class="selection"><span class="select2-selection select2-selection--multiple" tabindex="0" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" aria-owns="select2-dr_specialty_id-results"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" placeholder="Specialty" style=""></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Speciallity: </label>  
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  name="speciallity" placeholder="Speciallity" class="form-control"  type="text">
                        <p>{{ e.fNameError }}</p>
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-4 control-label" >Date:</label> 
                <div class="col-md-4 inputGroupContainer">
                   <div class='input-group date'>
                       <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input type='date' class="form-control" />
                    
                </div>
                </div>
                
            </div>
        </form>
    </div>
{% endblock %}