{% extends "master.html.twig" %}


{% block title %}Forgotten Password{% endblock %}

{% block css %} 
    <style>

        select.monthpick {
            margin-right: 5px;
        }

        select.yearpick {
            margin-left: 5px;
        }
    </style>
    <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500'>
    <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.monthpicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#yearpicker').monthpicker();
           

            $('input:submit').click(function () {
                $('#yearpicker').show();
                
                return false;
            });
        });
        
    </script>
    <script>
        $(document).ready(function () {
            // respond to all events that may change the value of input
            $('input[name=yearpicker]').bind('propertychange change click keyup input paste', function () {
                // AJAX request
                var yearpicker = $('input[name=yearpicker]').val();
                
            });
        });
    </script>
{% endblock %}
{% block content %}
    <form name="test">
        <input type="text" id="yearpicker" name="yearpicker" >
        <br>
    </form>


{% endblock %}
