{% extends "master.html.twig" %}

{% block title %}Schedule{% endblock %}
{% block matchpwd %}
    <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
{% endblock %}

{% block content %}

    <div class="cd-schedule">
        <div class="timeline">
            <ul>
                <li><span>09:00</span></li>
                <li><span>09:30</span></li>
                <!-- additional elements here -->
            </ul>
        </div>

        <div class="events">
            <ul>
                <li class="events-group">
                    <div class="top-info"><span>Monday</span></div>

                    <ul>
                        <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                            <a href="#0">
                                <em class="event-name">Abs Circuit</em>
                            </a>
                        </li>

                        <!-- other events here -->
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Tuesday</span></div>

                    <ul>
                        <!-- events here -->
                    </ul>
                </li>

                <!-- additional li.events-group here -->
            </ul>
        </div>

        <div class="event-modal">
            <header class="header">
                <div class="content">
                    <span class="event-date"></span>
                    <h3 class="event-name"></h3>
                </div>

                <div class="header-bg"></div>
            </header>

            <div class="body">
                <div class="event-info"></div>
                <div class="body-bg"></div>
            </div>

            <a href="#0" class="close">Close</a>
        </div>
    </div>
{% endblock %}