<!DOCTYPE html>

<html>

    <body>
        <h1>Getting server updates</h1>

        <div id="result"></div>
        <script>
            window.onload = function setDataSource() {
		if (!!window.EventSource) {
			var source = new EventSource("/cal1");

			source.addEventListener("message", function(e) {
				updatePrice(e.data);
				logMessage(e);
			}, false);
			
			source.addEventListener("open", function(e) {
				logMessage("OPENED");
			}, false);

			source.addEventListener("error", function(e) {
				logMessage("ERROR");
				if (e.readyState == EventSource.CLOSED) {
					logMessage("CLOSED");
				}
			}, false);
		} else {
			document.getElementById("notSupported").style.display = "block";
		}
	}
        function updatePrice(data) {
		var ar = data;
		var el = document.getElementById("result");
		el.innerHTML = ar;
		
	}
        function logMessage(obj) {
		var el = document.getElementById("log");
		if (typeof obj === "string") {
			el.innerHTML += obj + "<br>";
		} else {
			el.innerHTML += obj.lastEventId + " - " + obj.data + "<br>";
		}
		el.scrollTop += 20;
	}
       

        </script>







    </body>

</html>