.listTodo{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#tblTodo{
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.error-label {
	color: red;
	margin-top: 10px;
	margin-left: 10px;
	visibility: hidden;
	width:2%
	
}
.form-control {
	width: 94%;
	float:left;
}

.radio-inline {
    margin-left:30px;
    margin-right:30px;
}

.center-content{
   width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}
#file-upload {
    padding: 4px;
}
#success_message{ display: none;}