{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}
{% block content %}
    <section id="padding" class="section-sm-padding">
    </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12"> 
    <h3>Sorry aou are not login or you are not autorized to see this page.</h3>
    
    <img src ="/assets/img/AccessDenied.jpg">
                </div>
            </div>
        </div>
    <section id="padding" class="section-sm-padding">
    </section>
{% endblock %}
