{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}
{% block content %}
    <h3>Access Denied</h3>
    <p><a href="/">Click to continue</a></p>
    <img src ="/images/access_denied.jpg">
    
{% endblock %}
