<div id="doctor">
    <ul>
        {% for dr in drList %}
            <li style="order: undefined; width: 25%;" >  
                <div>
                    <img src="{{dr.pathImage}}" width="100" height="100" alt="" itemprop="image">
                </div>            

                <div class="container">
                    <div  class="doctor-row-times ember-view">   
                        <p>
                            <button class="medium" data-ember-action="" data-ember-action-2150="2150"><i class="fa fa-calendar"></i>See available times</button>

                        </p>
                    </div>
                </div>             

                <div class="profile">
                    <h2>
                        <a itemprop="url" title="Book appointment with " href="" id="ember2152" class="ember-view"><span itemprop="name">{{dr.firstName }}{{dr.lastName }} </span></a>
                    </h2>
                    <div class="blurb collapsed has-content">
                        <div>
                            <span itemprop="description">
                                <p> {{dr.description}}</p>

                            </span> 

                        </div>
                    </div>

                </div>
            </li>
        {% endfor %}
    </ul>
</div>