{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}   
    <div class="listTodo">
    <p>Internal error occurred, we're very sorry.
        Our team of coding ninjas has beeen notified and is already working on the problem </p>
    <p><a href="/">Click to continue</a>.</p>
    <img src="/images/code-ninja.png">
    </div>
{% endblock %}
