{% extends "master.html.twig" %}
{% block title %}Clinic Medical{% endblock %}


{% block content %}
<div class="container">
    <div style="text-align: center">
    <label class="btn-default"><a class="navbar-brand navbar-link" href="/bookappointment">Book Appointment</a></label>
    </div>
  
</div>
        
{% endblock %}