<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title page_title|title %}</title>
        <script src="/assets/js/jquery.min.js"></script>
        {% block matchpwd %}{% endblock %}
        <script src="/assets/js/script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>

    <body>
        <div>
            <nav class="navbar navbar-default navigation-clean-button">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Todo List</a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li role="presentation"><a href="/">List Todo</a></li>
                            <li role="presentation"><a href="/add">Add Todo</a></li>
                        </ul>
                        
                        {% if userSession %}
            <p class="navbar-text navbar-right actions">You're logged in as {{ userSession.name }}.
                You may <a href="/logout">Logout</a></p>
        {% else %}
        <p class="navbar-text navbar-right actions">You're not logged in. You may <a href="/register">Register</a>
            or <a href="/login">Login</a></p>
        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        <div class="listTrip">
        {% block content %}{% endblock %}
        
        
    </div>
    </body>

</html>
