<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Clinical Medical{% endblock %}</title>
        <meta name="description" content="Clinic Medical">
        <meta name="keywords" content="Clinic Medical, book Appointment">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
        <script src="/assets/js/jquery.easing.min.js"></script>
        <script src="/assets/js/custom.js"></script>
        <script src="contactform/contactform.js"></script>
        <script src="/assets/js/script.js"></script>
    {% block matchpwd %}{% endblock %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/assets/css/styles.css">-->
{% block css %}{% endblock %}

{% block calendar %}{% endblock %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    {% if userSession %}
        <section id="login-info" class="logins">
            <div style="min-height: 40px; background: #163a47; color: #fff; padding: 13px;">
                <div class="container">
                    <div class="col-md-12">
                        <p class="">You're logged in as {{ userSession.firstName }} {{userSession.lastName }}

                    </div>              

                        {% elseif staffSession %}
                        <p class="navbar-text navbar-right actions">You're logged in as {{ staffSession.firstName }} {{staffSession.lastName }}
                            You may <a href="/logout">Logout</a></p>
                        {% else %}
                        <p class="navbar-text navbar-right actions">You're not logged in. You may <a href="/register">Register</a>
                            or <a href="/login">Login</a></p>
                        {% endif %}
                </div>
            </div>
        </section>
    {% endif %}


    <section id="nav1" class="banner">
        <div style="min-height: 80px; background: #163a47;">
            <nav class="navbar navbar-default ">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#banner">Home</a></li>
                                <li class=""><a href="#service">Services</a></li>
                                <li class=""><a href="#about">About</a></li>
                                <li class=""><a href="#testimonial">Testimonial</a></li>
                                <li class=""><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </section>


{% block content %}{% endblock %}


<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">About Us</h4>
                    </div>
                    <div class="info-sec">
                        <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Quick Links</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
                            <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                            <li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Follow us</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="social-icon">
                            <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                            <li class="bgred"><i class="fa fa-google-plus"></i></li>
                            <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                            <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright Clinic Medical. All Rights Reserved

                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->



</body>

</html>
