{% extends "master.html.twig" %}


{% block title %}Forgotten Password{% endblock %}
{% block css %} 
    <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500'>
    <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
{% endblock %}
{% block content %}

    <p> Email with password reset code was sent. Please allow a few minutes for it to arrive. If you can't find it please check your spam folder.
        the reset request will expire in 1 hour.<a href="/">Click to continue</a></p>


{% endblock %}