{% extends "master.html.twig" %}


{% block title %}Forgotten Password{% endblock %}
{% block css %} 
    <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500'>
    <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
{% endblock %}
{% block content %}
    
    <p> Enter your Email below and we'll send you password reset link. </p>
    {% if error %}
        <p> we were'nt able to find email you provided in our records.
            Try again or <a href="/register">register</a> a new account
        </p>
        {% endif %}
<div id="successful_login" class="fix-middle">
  <div class="container text-center">
    <h1>Welcome back to the internet!</h1>
    <p>You've successfully managed to log into a nonexistant account in order to test a login dialog box.<br> If you like it, you are welcomed to use it wherever you want, no strings attached.<br><br><a href="#" class="link dialog-reset">Rerun the whole thing.</a></p>
  </div>
</div>

<div id="dialog" class="dialog dialog-effect-in">
  <div class="dialog-front">
    <div class="dialog-content">
      <form id="login_form" class="dialog-form" method="POST">
        <fieldset>
          <legend>Forgotton Password</legend>
          <div class="form-group">
            <label for="email" class="control-label">Email:</label>
            <input type="email" class="form-control" name="email" autofocus/>
          </div>
          
          
          <div class="pad-top-20 pad-btm-20">
            <input type="submit" class="btn btn-default btn-block btn-lg" value="Request reset email">
          </div>
         
        </fieldset>
      </form>
    </div>
  </div>
 
</div>


{% endblock %}