{# Warning : This template is for an email NOT an HTML Page #}

<html>
    <body>
        <h1>Password reset request</h1>
        <p>HI {{ name }}, </p><br>
        <p> You have requested password reset: </p>
        <p> Click on <a href="{{ url }}"> this link </a>to reset your password or paste the following URL into a browser. </p>
        <p>{{ url }}</p>
    </body>
    
</html>
