{% extends "master.html.twig" %}

{% block title %}Registration successful{% endblock %}

{% block content %}
    <section id="padding" class="section-sm-padding">
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center"> 
                <h4>You've been registered. You may now <a href="/login">login</a>.</h4>
            </div>
        </div>
    </div>
    <section id="padding" class="section-sm-padding">
    </section>
{% endblock %}